

.wrapper {
    display: grid;
    /* flex-wrap: wrap;
    justify-content: space-between; */

    /* grid-template-columns: 20px 55px 89px 100px; */
    /* grid-template-columns: 150px 150px 150px; */
    grid-template-columns: repeat(3, 150px);
    column-gap: 10px;
    row-gap: 10px;
}

.box {
    /* width: 200px; */
    flex-basis : 33%;
    /* height: 50px; */
    background: peru;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 50px;
}

/* .box:nth-child(4) {
    margin-top: 10px;
} */


.grid {
    display: grid;
    /* grid-template-columns: repeat(4, 200px); */
    gap: 10px;
    grid-template-columns: repeat(4, 100px);
    /* grid-template-rows: 100px repeat(2, 200px) 100px; */
    grid-template-rows: repeat(4, 100px);
    /* grid-template-areas: 
        "header header header header"
        "content content content nav"
        "content content content nav"
        "footer footer footer footer"; */
}

.header {
    background-color: #2ecc71;
    /* grid-area: header; */
    grid-column-start: 1;
    grid-column-end: 5;
}

.content {
    background-color: #3498db;
    /* grid-area: content; */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.nav {
    background-color: #8e44ad;
    /* grid-area: nav; */
    grid-row-start: 2;
    grid-row-end: 4;
}

.footer {
    background-color: #f39c12;
    /* grid-area: footer; */
    grid-column-start: 1;
    grid-column-end: 5;
}